$main-color: #8e2992;
$secondary-color: #91c9ff;
$tertiary-color: #84e89a;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

span,
input,
div,
p {
  font-family: "Open Sans", sans-serif;
}

.App {
  height: 731px;
  width: 411px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid purple;
  .landing {
    height: 100%;
    display: flex;
    flex-direction: column;
    .top {
      .ribbon-icon {
        height: 300px;
        svg {
          color: $main-color;
          font-size: 15em;
          transform: rotate(-20deg);
        }
      }

      h1 {
        color: $main-color;
        font-weight: bold;
        width: 226px;
        margin-left: auto;
        font-size: 55px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      .btn,
      .btn-flat,
      a {
        width: 200px;
        height: 50px;
        margin: auto;
        margin-top: 20px;

        &.login {
          border-radius: 50px;
          background-color: $main-color;
        }

        &.signup {
          color: $main-color;
        }
      }
    }
  }

  .signup {
    h1 {
      color: $main-color;
    }
    .top {
      height: 200px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      .ribbon-icon {
        height: 100px;
        svg {
          color: $main-color;
          font-size: 10em;
          transform: rotate(-20deg);
        }
      }

      h1 {
        width: 226px;
        font-size: 55px;
      }
    }

    .textfields {
      margin: auto;
      width: 328px;
      h1 {
        margin: auto;
      }
    }
    button {
      width: 200px;
      height: 50px;
      margin: auto;
      margin-top: 20px;
      border-radius: 50px;
      background-color: $main-color;
      margin-left: 100px;
    }
  }
}
